:root {
    --size-1: 400px;
    --size-2: 200px;
    --size-3: 100px;
}

body{
    width:100%;
    height:100%;
}
#react{
    width: var(--size-1);
    height: var(--size-1);
    margin: var(--size-1) auto;
    transform-style:preserve-3d;
    animation:rotate 20s infinite;
    animation-timing-function: linear;
}
#react div{
    position:absolute;
    transition: all .4s;
}
div .out_pic{
    width:var(--size-1);
    height:var(--size-1);
    opacity:0.9;
}
div .in_pic{
    width:var(--size-2);
    height:var(--size-2);
}
#react span{
    display:block;
    position:absolute;
    width:var(--size-2);
    height:var(--size-2);
    top:var(--size-3);
    left:var(--size-3);
}
@keyframes rotate{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(360deg) rotateY(360deg);}
}


.out_front{
    transform:translateZ(var(--size-2));
}
.out_back{
    transform:translateZ(-200px);
}
.out_left{
    transform:rotateY(90deg) translateZ(var(--size-2));
}
.out_right{
    transform: rotateY(-90deg) translateZ(var(--size-2));
}
.out_top{
    transform:rotateX(90deg) translateZ(var(--size-2));
}
.out_bottom{
    transform: rotateX(-90deg) translateZ(var(--size-2));
}
.in_front{
    transform:translateZ(var(--size-3));
}
.in_back{
    transform:translateZ(-100px);
}
.in_left{
    transform:rotateY(90deg) translateZ(var(--size-3));
}
.in_right{
    transform: rotateY(-90deg) translateZ(var(--size-3));
}
.in_top{
    transform:rotateX(90deg) translateZ(var(--size-3));
}
.in_bottom{
    transform: rotateX(-90deg) translateZ(var(--size-3));
}

/*外面的图片散开*/
#react:hover .out_front{
    transform:translateZ(var(--size-1));
}
#react:hover .out_back{
    transform:translateZ(-400px);
}
#react:hover .out_left{
    transform:rotateY(90deg) translateZ(var(--size-1));
}
#react:hover .out_right{
    transform: rotateY(-90deg) translateZ(var(--size-1));
}
#react:hover .out_top{
    transform:rotateX(90deg) translateZ(var(--size-1));
}
#react:hover .out_bottom{
    transform: rotateX(-90deg) translateZ(var(--size-1));
}


/*里面的图片散开*/
#react:hover .in_front{
    transform:translateZ(var(--size-2));
}
#react:hover .in_back{
    transform:translateZ(-200px);
}
#react:hover .in_left{
    transform:rotateY(90deg) translateZ(var(--size-2));
}
#react:hover .in_right{
    transform: rotateY(-90deg) translateZ(var(--size-2));
}
#react:hover .in_top{
    transform:rotateX(90deg) translateZ(var(--size-2));
}
#react:hover .in_bottom{
    transform: rotateX(-90deg) translateZ(var(--size-2));
}